* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 127, 80, 1.0);
    display: grid;
}

main {
    width: 400px;
    height: 200px;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    position: relative;
}

section {
    width: 1600px;
    height: 200px;
    display: grid;
    grid-template: 1fr/repeat(4, 400px);
    animation-name: hd;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4, end);
}

div {
    overflow: hidden;
}

section:hover,
section:hover+ul::before {
    animation-play-state: paused;
}

img {
    width: 100%;
}

ul {
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: grid;
    grid-template: 1fr/repeat(4, 1fr);
    transform: translateX(-50%);
    width: 200px;
    justify-items: center;
    align-items: center;
    list-style: none;
}

ul::before {
    content: '';
    width: 30px;
    position: absolute;
    left: 10px;
    top: 0;
    height: 30px;
    border-radius: 50%;
    background: rgba(248, 165, 194, 0.9);
    animation-name: c;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4, end);
}

li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(248, 165, 194, 0.5);
    display: grid;
    justify-items: center;
    color: rgba(48, 57, 82, 1.0);
    z-index: 3;
    align-items: center;
}

@keyframes hd {
    to {
        transform: translateX(-1600px);
    }
}

@keyframes c {
    to {
        transform: translateX(200px);
    }

}